<nav>
  <h1>{{title}}</h1>
  <div>
    <mat-icon aria-hidden="false" class="icon" mat-raised-button
    matTooltip="Go to Home" [routerLink]="['/home']">home</mat-icon>
    <mat-icon aria-hidden="false" class="icon"mat-raised-button
    matTooltip="Search by category" [routerLink]="['/search']">search</mat-icon>
    <mat-icon aria-hidden="false" class="icon" mat-raised-button
    matTooltip="Sell your items" [routerLink]="['/sell']">sell</mat-icon>
    <mat-icon aria-hidden="false" class="icon" mat-raised-button
    matTooltip="Your Wishlist" [routerLink]="['/wishlist']">favorite</mat-icon>
    <mat-icon aria-hidden="false" class="icon" mat-raised-button
    matTooltip="Your Cart" [routerLink]="['/cart']">shopping_cart</mat-icon>
    <mat-icon aria-hidden="false" class="icon" mat-raised-button
    matTooltip="Go to Profile" [routerLink]="['/profile']">face</mat-icon>
  </div>
</nav>

<div class="main-content">
  <router-outlet></router-outlet>
</div>